.testimonial {
    background-color: #CFA5F9;
    margin-top: 14rem;
    blockquote {
        text-align: center;
        margin: 0;
        padding: 1rem;
        color: $blanco;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3.2rem;
        font-family: $anurati;
    }
}